@page "/Todo"
@rendermode InteractiveServer

<PageTitle>Todo</PageTitle>
<h3>Todo</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            @todo.Title
        </li>
    }
</ul>
<input @bind="newTodo" @onkeydown="HandleKeyDown"/>
<button @onclick="addItems">Add</button>

@code {
private List<TodoItem> todos = new();
private string newTodo = "";

void addItems(){
    if (!string.IsNullOrWhiteSpace(newTodo))
    {
        todos.Add(new TodoItem { Title = newTodo, IsDone = false });
        newTodo = "";
    }
}

private void HandleKeyDown(KeyboardEventArgs e)
{
    if (e.Key == "Enter")
    {
        addItems();
    }
}

}