@page "/Todo"
@rendermode InteractiveServer

<PageTitle>To-do</PageTitle>
<h3>Todo (@todos.Count(todo => !todo.IsDone ))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input type="text" @bind="todo.Title" />
        </li>
    }
</ul>
<input @bind="newTodo" @onkeydown="HandleKeyDown"/>
<button @onclick="addItems">Add</button>

@code {

@* lista llamada todos de tipo TodoItem *@
private List<TodoItem> todos = new();
private string newTodo = "";

void addItems(){
    if (!string.IsNullOrWhiteSpace(newTodo))
    {
        @* agrega a la lista el objeto *@
        todos.Add(
            @* crea un objeto de la clase TodItems *@
            new TodoItem 
            { 
                Title = newTodo, 
                IsDone = false
            });

        newTodo = "";
    }
}

private void HandleKeyDown(KeyboardEventArgs e)
{
    if (e.Key == "Enter")
    {
        addItems();
    }
}

}